.container
  .span12
    .content-block
      .bd
        %br
        %br
        = form_tag bulk_update_instrument_exceptions_path do
          = render :partial => 'instrument_variants', :locals => {:exceptions => @exceptions, :total => @total, :skipped => @skipped}
          .actions
            = submit_tag 'Process Variants', :class => 'button btn btn-large btn-primary'
            %br
            %br
