.icon-bar.seven-up.vertical
  %a.item{:href => lookups_path}
    %i.fa.fa-search.fa-5
    %label Manage Lookups
  %a.item{:href => pooled_instrument_exceptions_path}
    %i.fa.fa-object-group.fa-5
    %label Composite Exceptions
  %a.item{:href => instrument_exceptions_path}
    %i.fa.fa-file.fa-5
    %label Instrument Exceptions
  %a.item{:href => known_exceptions_path}
    %i.fa.fa-book.fa-5
    %label Known Exceptions
  %a.item{:href => instrument_exceptions_path(:corporate_actions => true)}
    %i.fa.fa-briefcase.fa-5
    %label Corporate Actions
  %a.item{:href => duplicate_instruments_path}
    %i.fa.fa-copy.fa-5
    %label Duplicate Instruments
  %a.item{:href => instruments_path}
    %i.fa.fa-list.fa-5
    %label Instruments
  %a.item{:href => date_adjust_fund_flows_path}
    %i.fa.fa-search.fa-5
    %label Fund Flows
  %a.item{:href => api_users_path}
    %i.fa.fa-users.fa-5
    %label API Users
  -#
    %a.item{:href => issuer_exceptions_path}
      %i.fa.fa-star.fa-5
      %label Unknown Issuers
    %a.item{:href => ambiguous_instruments_path}
      %i.fa.fa-question.fa-5
      %label Ambiguous Instruments
