.icon-bar.seven-up.vertical
  %a.item{:href => instrument_exceptions_path}
    %i.fa.fa-asterisk.fa-5
    %label Name Variants
  %a.item{:href => root_path}
    %i.fa.fa-question.fa-5
    %label Ambiguous
  %a.item{:href => root_path}
    %i.fa.fa-star.fa-5
    %label Issuers
