.icon-bar.seven-up.vertical
  %a.item{:href => lookups_path}
    %i.fa.fa-asterisk.fa-5
    %label Manage Lookups
  %a.item{:href => pooled_instrument_exceptions_path}
    %i.fa.fa-asterisk.fa-5
    %label Composite Exceptions
  %a.item{:href => instrument_exceptions_path}
    %i.fa.fa-asterisk.fa-5
    %label Instrument Exceptions
  %a.item{:href => ambiguous_instruments_path}
    %i.fa.fa-question.fa-5
    %label Ambiguous Instruments
  %a.item{:href => issuer_exceptions_path}
    %i.fa.fa-star.fa-5
    %label Unknown Issuers
  %a.item{:href => known_exceptions_path}
    %i.fa.fa-star.fa-5
    %label Known Exceptions
  %a.item{:href => instruments_path}
    %i.fa.fa-star.fa-5
    %label Unapproved Instruments
