.container
  .span12
    .content-block
      .bd
        %br
        %br
        = form_tag bulk_update_known_exceptions_path do
          = render :partial => 'known', :locals => {:exceptions => @exceptions}
          .actions
            = submit_tag 'Update Known Exceptions', :class => 'button btn btn-large btn-primary'
            %br
            %br
